<!DOCTYPE html>
<html lang="en">

<head>
    <title>Maddy Studios</title>
    <link rel="icon" type="image/x-icon" href="/images/logo.png">
    <link rel="stylesheet" href="/css/cp.css">
    <script src="cp.js"></script>
</head>

<body class="body" style="background-image: url('/images/Frame.png'); background-size:cover;background-repeat: no-repeat;background-attachment: fixed; background-color: rgb(29, 28, 28);">
    <div class="pass">
        <form class="form" name="myform" action="/login" onsubmit="return password()">
            <center><h4>Create a new password</h4>
                <hr>
                <!-- <p>User Name</p>
                <input type="Text" class="Un" id="upperlower" onfocusout="upperCase()" onfocusin="focusIn()" placeholder="Enter your user name"> -->
                <p>New Password</p>
                <input type="password" id="pass1" class="Np" placeholder="New Password">
                <p>Conform Password</p>
                <input type="password" id="pass2" class="Cp" placeholder="Conform Password"><br><br><br>
                <input type="submit" class="Save" value="Save Changes">
            </center>
        </form>
    </div>
</body>

</html>