<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maddy Studios</title>
    <link rel="icon" type="image/x-icon" href="/images/logo.png">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="body" style="background-image: url('/images/Frame.png'); background-size:cover;background-repeat: no-repeat;background-attachment: fixed; background-color: rgb(29, 28, 28);">
    
    <div class="about">
        <p class="p2">
            Services
        </p>
        <p style="margin-top: 30px;margin-left: 200px;">
            we are providing many services like wedding, pre wedding, portrait and also used to shoot a wide variety of products etc.
            You can see the sample photography for each service which we are providing and each service has a different packages.
            You just contact us to capture the beauty.
        </p>
        <table class="table1" style="justify-content: center; left: 8%;border-spacing: 50px; margin-left: 200px;">
            <tr>
                <td>
                    <div class="img1" >
                        <a href="/pre_wedding"><img src="/images/pw1.jpg"  width="210px" height="270px">
                        <div style="position:relative;top: 10px;text-align: center; font-size: x-large;"><i class="fa fa-camera" style="color: black;" > Pre wedding</i></div></a>
                    </div>
                </td>
                <td>
                    <div class="img1" >
                        <a href="/wedding"><img src="/images/wedding.jfif"  width="210px" height="270px">
                        <div style="position:relative;top: 10px;text-align: center; font-size: x-large;"><i class="fa fa-camera" style="color: black;" > Wedding</i></div></a>
                    </div>
                </td>
                <td>
                    <div class="img1" >
                        <a href="/portrait"><img src="/images/p1.jpg"  width="210px" height="270px">
                        <div style="position:relative;top: 10px;text-align: center; font-size: x-large;"><i class="fa fa-camera" style="color: black;" > Portrait</i></div></a>
                    </div>
                </td>
                <td>
                    <div class="img1" >
                        <a href="/events"><img src="/images/e1.jpg"  width="210px" height="270px">
                        <div style="position:relative;top: 10px;text-align: center; font-size: x-large;"><i class="fa fa-camera" style="color: black;" > Events</i></div></a>
                    </div>
                </td>
            </tr>
        </table>
        <table style="justify-content: center; left: 28%;top: 620px;border-spacing: 50px; margin-left:200px;">
            <tr>
                <td>
                    <div class="img1" >
                        <a href="/products"><img src="/images/pr1.jpg"  width="210px" height="270px">
                        <div style="position:relative;top: 10px;text-align: center; font-size: x-large;"><i class="fa fa-camera" style="color: black;" > Products</i></div></a>
                    </div>
                </td>
                <td>
                    <div class="img1" >
                        <a href="/travel"><img src="/images/tr1.jpeg"  width="210px" height="270px">
                        <div style="position:relative;top: 10px;text-align: center; font-size: x-large;"><i class="fa fa-camera" style="color: black;" > Travel</i></div></a>
                    </div>
                </td>
            </tr>
        </table>
</div>
<div class="works">
    <p>Gallery</p>
    <div style="margin-left:  200px;">
    <table class="table1" style="border-spacing: 38px;">
        <tr>
            <td>
                <div class="img2" >
                    <img src="/images/work1.jfif"  width="250px" height="170px">    
                </div>
            </td>
            <td>
                <div class="img2" >
                    <img src="/images/work2.jfif"  width="250px" height="170px">
                </div>
            </td>
            <td>
                <div class="img2" >
                    <img src="/images/work3.jfif"  width="250px" height="170px">
                </div>
            </td>
            <td>
                <div class="img2" >
                    <img src="/images/work4.jfif"  width="250px" height="170px">
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="img2" >
                    <img src="/images/work5.jfif"  width="250px" height="170px">
                    
                </div>
            </td>
            <td>
                <div class="img2" >
                    <img src="/images/work6.jfif"  width="250px" height="170px">
                </div>
            </td>
            <td>
                <div class="img2" >
                    <img src="/images/work7.jfif"  width="250px" height="170px">
                </div>
            </td>
            <td>
                <div class="img2" >
                    <img src="/images/work8.jfif"  width="250px" height="170px">
                </div>
            </td>

        </tr>
    </table>
</div>


</div>

<header>
    <h1><img src="/images/logo.png" style="height:30px; width:30px;">Maddy Studios</h1>
    <nav>
        <li><i class="fa fa-home"></i><a href="/home" style="text-decoration: none;">&nbsp;&nbsp;Home</a></li>
        <div class="dropdown">
            <span class="p1"><i class="fa fa-fire"></i>&nbsp;&nbsp;Services</span>
            <div class="dropdown-content">
                <p>
                    <a href="/pre_wedding" id="sam">Pre wedding</a>
                </p>
                <p>
                    <a href="/wedding" id="sam">Wedding</a>
                </p>
                <p>
                    <a href="/portrait" id="sam">Portrait</a>
                </p>
                <p>
                    <a href="/events" id="sam">Events</a>
                </p>
                <p>
                    <a href="/products" id="sam">Products</a>
                </p>
                <p>
                    <a href="/travel" id="sam">Travel</a>
                </p>
            </div>
        </div>

        <li><i class="fa fa-address-card"></i><a href="mailto:2k19cse027@kiot.ac.in" style="text-decoration: none;">&nbsp;&nbsp;Contact</a></li>

    </nav>
    
</header>
<aside >
    <ul class="content" type="none">
        <li><i class="fa fa-user-circle"></i><a href="/profile" style="text-decoration: none;">&nbsp;&nbsp;Profile</a></li>
        <li><i class="fa fa-arrow-circle-right"></i><a href="/book" style="text-decoration: none;">&nbsp;&nbsp;Book now</a></li>
        <li><i class="fa fa-sign-out"></i><a href="/" style="text-decoration: none;" >&nbsp;&nbsp;Log out</a></li>
    </ul>
</aside>
<!-- <div class="footer">
    <footer>
        <p>Copyrights &copy;. All rights reserved.</p>
        <div >
            <i class="fa fa-phone" style="position: absolute;top: 30px;right: 10%; color: white;">  - 9944962896</i>
            <i class="fa fa-envelope" style="position: absolute;top: 30px;right: 20%; color: white;">  - 2k19cse027@kiot.ac.in</i>
        </div>

    </footer>
</div> -->
    
</body>
</html>