<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maddy Studios</title>
    <link rel="icon" type="image/x-icon" href="/images/logo.png">
    <link rel="stylesheet" href="/css/events.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="body" style="background-image: url('/images/Frame.png'); background-size:cover;background-repeat: no-repeat;background-attachment: fixed;">
    <div  class="mainImg">
        <img src="/images/product main.png" class="img1">
        <div class="prg">
            <p>
                We promise on one thing, we give our best service to make "Memorable pre wedding photoshoot".</br>
                We will guide you to choose the best location based on your ideas. We will guide you with greate look and comfort before shoot.</br>
                Creative photoshoot with great photographers and we will delivery on time.
            </p>
        </div>
    </div>
    <div class="works">
        <p>Gallery</p>
        <div>
        <table class="table1" style="border-spacing: 8px;margin-top: 20px;">
            <tr>
                <td>
                    <div class="img2">
                        <img src="/images/product1.jpg"  width="250px" height="170px">    
                    </div>
                </td>
                <td>
                    <div class="img2" >
                        <img src="/images/product2.jpg"  width="250px" height="170px">
                    </div>
                </td>
                <td>
                    <div class="img2" >
                        <img src="/images/product3.jpg"  width="250px" height="170px">
                    </div>
                </td>
                <td>
                    <div class="img2" >
                        <img src="/images/product4.jpg"  width="250px" height="170px">
                    </div>
                </td>
            </tr>
        </table>
    </div>

    </div>
    <div class="bookNow">
        <a href="/book"><button type="submit">Book Now</button></a>
    </div>
    
    <header>
        <h1><img src="/images/logo.png" style="height:30px; width:30px;">Maddy Studios</h1>
        <nav>
            <li><i class="fa fa-home"></i><a href="/home" style="text-decoration: none;">&nbsp;&nbsp;Home</a></li>
            <div class="dropdown">
                <span class="p1"><i class="fa fa-fire"></i>&nbsp;&nbsp;Services</span>
                <div class="dropdown-content">
                    <p>
                        <a href="/pre_wedding" id="sam">Pre wedding</a>
                    </p>
                    <p>
                        <a href="/wedding" id="sam">Wedding</a>
                    </p>
                    <p>
                        <a href="/portrait" id="sam">Portrait</a>
                    </p>
                    <p>
                        <a href="/events" id="sam">Events</a>
                    </p>
                    <p>
                        <a href="/products" id="sam">Products</a>
                    </p>
                    <p>
                        <a href="/travel" id="sam">Travel</a>
                    </p>
                </div>
            </div>
    
            <li><i class="fa fa-address-card"></i><a href="mailto:2k19cse027@kiot.ac.in" style="text-decoration: none;">&nbsp;&nbsp;Contact</a></li>

        </nav>
        
    </header>
    <aside >
        <ul class="content" type="none">
            <li><i class="fa fa-user-circle"></i><a href="/profile" style="text-decoration: none;">&nbsp;&nbsp;Profile</a></li>
            <li><i class="fa fa-arrow-circle-right"></i><a href="/book" style="text-decoration: none;">&nbsp;&nbsp;Book now</a></li>
            <li><i class="fa fa-sign-out"></i><a href="/" style="text-decoration: none;" >&nbsp;&nbsp;Log out</a></li>
        </ul>
    </aside>
</body>
</html>