<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maddy Studios</title>
    <link rel="icon" type="image/x-icon" href="/images/logo.png">
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body style="background-image: url('/images/Frame.png'); background-size:cover;background-repeat: no-repeat;background-attachment: fixed; background-color: rgb(29, 28, 28);">
<div class="profile">
    <i class="fa fa-user">User Name : </i>
    <i class="fa fa-lock">Password: </i>
    <i class="fa fa-phone">Mobile no: </i>
    <i class="fa fa-envelope">Email: </i>

</div>
<header>
    <h1><img src="/images/logo.png" style="height:30px; width:30px;">Maddy Studios</h1>
    <nav>
        <li><i class="fa fa-home"></i><a href="/home" style="text-decoration:none;color: white;">&nbsp;&nbsp;Home</a></li>
        <div class="dropdown">
            <span class="p1"><i class="fa fa-fire"></i>&nbsp;&nbsp;Services</span>
            <div class="dropdown-content">
                <p>
                    <a href="/pre_wedding" id="sam">Pre wedding</a>
                </p>
                <p>
                    <a href="/wedding" id="sam">Wedding</a>
                </p>
                <p>
                    <a href="/Portrait" id="sam">Portrait</a>
                </p>
                <p>
                    <a href="/Events" id="sam">Events</a>
                </p>
                <p>
                    <a href="/products" id="sam">Products</a>
                </p>
                <p>
                    <a href="/travel" id="sam">Travel</a>
                </p>
            </div>
        </div>

        <li><i class="fa fa-address-card"></i><a href="mailto:2k19cse027@kiot.ac.in" style="text-decoration: none;color: white;">&nbsp;&nbsp;Contact</a></li>
    </nav>
    
</header>
<aside >
    <ul class="content" type="none">
        <li><i class="fa fa-user-circle"></i>&nbsp;&nbsp;Profile</li>
        <li><i class="fa fa-arrow-circle-right"></i><a href="book" style="text-decoration: none; color: white;">&nbsp;&nbsp;Book now</a></li>
        <li><i class="fa fa-sign-out"></i><a href="/" style="text-decoration: none; color: white;" >&nbsp;&nbsp;Log out</a></li>
    </ul>
</aside>
</body>
</html>